* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

b {
  font-weight: bold;
}

ruby {
  ruby-align: space-around;
  ruby-position: over;
  text-align: justify;
  text-align-last: justify;
}
rp {
  display: none;
}
rt {
  font-size: 0.5em;
  line-height: 0.5em;
  text-align: start;
  text-indent: 0px;
  line-height: normal;
  text-emphasis: none;
}
sub,
sup {
  font-size: 0.75em;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
rb[data-id='template-ruby']::before,
.template-ruby-hidden {
  display: inline-block;
  width: 0;
  font-size: 0;
}
rb[data-id='template-ruby']::before {
  content: '';
}
