@import url(./theme.css);
@import url(./artalk-tweaks.css);

:root {
  accent-color: var(--md-sys-color-tertiary);
  --image-masonry-gap: 8px;
}

* {
  box-sizing: border-box;
}
/* a:focus-visible,
button:focus-visible,
input[type='checkbox']:focus-visible {
  outline: none;
  box-shadow: 0 0 0 2px var(--md-sys-color-tertiary-container), 0 0 0 4px var(--md-sys-color-tertiary);
} */
html,
body {
  height: 100%;
}
body {
  display: flex;
  background-color: var(--md-sys-color-background);
  color: var(--md-sys-color-on-background);
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
h2,
h4,
h5,
h6 {
  margin: 32px 0;
}
p {
  -webkit-margin-before: 1em;
  margin-block-start: 1em;
  -webkit-margin-after: 1em;
  margin-block-end: 1em;
}

.main ul {
  margin-inline-start: 22px;
  list-style: none;
}
.main ul li {
  position: relative;
  margin-bottom: 16px;
}
.main ul li:nth-child(2) {
  --rotation: 2;
}
.main ul li:nth-child(3n) {
  --rotation: 5;
}
.main ul li:nth-child(3n + 1) {
  --rotation: 7;
}
.main ul li:nth-child(3n + 2) {
  --rotation: 4;
}
.main ul li:nth-child(4n) {
  --rotation: 9;
}
.main ul li:nth-child(4n + 1) {
  --rotation: 6;
}
.main ul li:nth-child(4n + 3) {
  --rotation: 3;
}
.main ul li svg {
  display: inline-block;
  position: absolute;
  margin-block-start: 6px;
  margin-inline-start: -16px;
  transform: rotate(calc(var(--rotation) * 36deg));
  fill: currentColor;
}

a {
  color: var(--md-sys-color-primary);
  text-decoration: none;
  border-radius: 4px;
}
a:hover {
  text-decoration: underline;
}

ruby {
  ruby-align: space-around;
  ruby-position: over;
  text-align: justify;
  text-align-last: justify;
}
rp {
  display: none;
}
rt {
  font-size: 0.5em;
  line-height: 0.5em;
  text-align: start;
  text-indent: 0px;
  line-height: normal;
  text-emphasis: none;
}
sub,
sup {
  font-size: 0.75em;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
rb[data-id='template-ruby']::before,
.template-ruby-hidden {
  display: inline-block;
  width: 0;
  font-size: 0;
}

.block {
  display: grid;
  position: relative;
  max-width: min(1024px, calc(100vw - 2 * 40px));
  margin: 0 auto 152px;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(calc(25% - 20px), 1fr));
  overflow-x: auto;
}
.block:last-child {
  margin-bottom: 0;
}

/* Components */
.atk-main-editor > .atk-bottom .atk-send-btn::after,
.atk-comment .atk-height-limit-btn::after,
.filled-button::after,
.standard-icon-button::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 48px;
  width: 100%;
  min-height: 48px;
  height: 100%;
  transform: translate(-50%, -50%);
  pointer-events: auto;
}
.filled-button {
  position: relative;
  display: inline-flex;
  align-items: center;
  padding: 0 24px;
  height: 40px;
  color: var(--md-sys-color-on-primary);
  background-color: var(--md-sys-color-primary);
  text-decoration: none;
  border: none;
  border-radius: 9999px;
  cursor: pointer;
  vertical-align: middle;
}
.standard-icon-button {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  font-size: 1.25rem;
  color: var(--md-sys-color-primary);
  background-color: transparent;
  text-decoration: none;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  vertical-align: middle;
}
.standard-icon-button svg {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
con-card {
  padding: 0 16px;
  display: inline-block;
  padding-inline-end: 16px;
  padding-bottom: 16px;
  width: 100%;
  text-overflow: ellipsis;
  color: var(--md-sys-color-on-surface);
  background-color: var(--md-sys-color-surface);
  border: 1px solid var(--md-sys-color-outline);
  border-radius: 12px;
}
con-card .headline {
  display: flex;
  margin-top: 16px;
}
con-card .avatar img {
  width: 36px;
  height: 36px;
  border-radius: 24px;
}
con-card .info {
  margin-inline-start: 16px;
}
con-card .info p {
  margin: 0;
}
con-card .content {
  margin-top: 16px;
}
links-card {
  display: inline-flex;
}
links-card a {
  position: relative;
  display: block;
  padding: 16px;
  width: 100%;
  height: 100%;
  text-decoration: none !important;
  color: var(--md-sys-color-on-surface-variant);
  background-color: var(--md-sys-color-surface-variant);
  border-radius: 12px;
}
links-card a p {
  margin: 0;
}
links-card a p:first-child {
  margin-bottom: 8px;
  color: var(--md-sys-color-on-surface);
}
image-masonry {
  margin-top: 32px;
  width: 100%;
  min-height: 100%;
  /* height: 10000px; */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  counter-reset: cards;
}
image-masonry div {
  display: flex;
  width: calc(
    var(--image-masonry-image-width) - (var(--image-masonry-images-a-col) - 1) * var(--image-masonry-gap) /
      var(--image-masonry-images-a-col)
  );
  padding-bottom: var(--image-masonry-gap);
  position: relative;
}
image-masonry div.show {
  animation-name: slideIn;
  animation-duration: 180ms;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0, 1, 0, 1);
}
image-masonry img {
  width: 100%;
  border-radius: 20px;
}
image-masonry .divider {
  display: block;
  flex-basis: 100%;
  width: var(--image-masonry-gap);
}
image-masonry ._1 {
  order: 1;
}
image-masonry ._2 {
  order: 2;
}
image-masonry div::before {
  counter-increment: cards;
  content: counter(cards);
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  font-size: 0.875rem;
  border-radius: 50%;
  color: var(--md-sys-color-on-primary-container);
  background-color: var(--md-sys-color-primary-container);
}
[col='2'] div:nth-of-type(2n + 1) {
  order: 1;
}
[col='2'] div:nth-of-type(2n + 2) {
  order: 2;
}
[col='3'] div:nth-of-type(3n + 1) {
  order: 1;
}
[col='3'] div:nth-of-type(3n + 2) {
  order: 2;
}
[col='3'] div:nth-of-type(3n + 3) {
  order: 3;
}

@keyframes slideIn {
  from {
    filter: opacity(0);
    transform: translateY(32px);
  }
  to {
    filter: opacity(1);
    transform: translateY(0);
  }
}

/* State layer */
.atk-main-editor > .atk-bottom .atk-send-btn::before,
.atk-main-editor>.atk-bottom .atk-plug-btn::before,
.filled-button::before,
.standard-icon-button::before,
.drawer li a::before,
links-card a::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: currentColor;
  border-radius: inherit;
  opacity: 0;
  pointer-events: none;
}
.atk-main-editor > .atk-bottom .atk-send-btn:hover::before,
.atk-main-editor>.atk-bottom .atk-plug-btn:hover::before,
.filled-button:hover::before,
.standard-icon-button:hover::before,
.drawer li a:hover::before,
links-card a:hover::before {
  opacity: 0.08;
}
.atk-main-editor > .atk-bottom .atk-send-btn:active:before,
.atk-main-editor>.atk-bottom .atk-plug-btn:active::before,
.filled-button:active::before,
.standard-icon-button:active:before,
.drawer li a:active::before,
links-card a:active::before {
  opacity: 0.12;
}

/* Special elements */
.jump-to-contents {
  position: fixed;
  top: -40px;
  left: 16px;
  transition: top 90ms cubic-bezier(0.4, 0.2, 0, 1);
  z-index: 9999;
}
.jump-to-contents:focus {
  top: 16px;
}

.drawer {
  flex-shrink: 0;
  width: 300px;
  padding: 16px;
  border-start-end-radius: 16px;
  border-end-end-radius: 16px;
}
@media (max-width: 1200px) {
  .drawer {
    position: fixed;
    display: none;
  }
}
.drawer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.drawer ul:not(:last-child) {
  margin-bottom: 16px;
}
.drawer li.label-medium {
  margin-block-start: 8px;
  margin-block-end: 8px;
  margin-inline-start: 20px;
}
.drawer li:not(:last-child) {
  margin-bottom: 4px;
}
.drawer li a {
  position: relative;
  display: flex;
  align-items: center;
  padding-inline-start: 12px;
  padding-inline-end: 12px;
  width: 100%;
  height: 32px;
  color: inherit;
  text-decoration: none;
  border-radius: 16px;
}
.drawer li a[spa-link-active] {
  color: var(--md-sys-color-primary);
}
.drawer li a[spa-link-active]::before {
  opacity: 0.16;
}

.overview {
  position: sticky;
  top: 0;
  width: 300px;
  order: 1;
  flex-shrink: 0;
  padding: 16px;
  overflow-y: auto;
}
@media (max-width: 900px) {
  .overview {
    display: none;
  }
}

.main-and-overview {
  display: flex;
  width: 100%;
  overflow-y: scroll;
}
.main {
  margin: 0 auto;
  padding: 24px;
  width: 100%;
  height: max-content;
  max-width: 105ch;
}
@media (min-width: 1200px) {
  .main {
    padding: 24px 60px;
  }
}

.con-grid,
.links-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 8px;
}
