@import url(./baseline.css);
@import url(./material-you/main.css);
@import url(./artalk-tweaks.css);

:root {
  accent-color: var(--md-sys-color-tertiary);
  -webkit-tap-highlight-color: transparent;
  --image-masonry-gap: 8px;
  --md-sys-color-primary-rgb-dark: 255, 180, 166;
  --md-sys-color-primary-dark: #ffb4a6;
  --md-sys-color-on-primary-rgb-dark: 95, 21, 10;
  --md-sys-color-on-primary-dark: #5f150a;
  --md-sys-color-primary-container-rgb-dark: 125, 44, 30;
  --md-sys-color-primary-container-dark: #7d2c1e;
  --md-sys-color-on-primary-container-rgb-dark: 255, 218, 212;
  --md-sys-color-on-primary-container-dark: #ffdad4;
  --md-sys-color-secondary-rgb-dark: 231, 189, 181;
  --md-sys-color-secondary-dark: #e7bdb5;
  --md-sys-color-on-secondary-rgb-dark: 68, 42, 37;
  --md-sys-color-on-secondary-dark: #442a25;
  --md-sys-color-secondary-container-rgb-dark: 93, 63, 58;
  --md-sys-color-secondary-container-dark: #5d3f3a;
  --md-sys-color-on-secondary-container-rgb-dark: 255, 218, 212;
  --md-sys-color-on-secondary-container-dark: #ffdad4;
  --md-sys-color-tertiary-rgb-dark: 221, 196, 140;
  --md-sys-color-tertiary-dark: #ddc48c;
  --md-sys-color-on-tertiary-rgb-dark: 61, 46, 4;
  --md-sys-color-on-tertiary-dark: #3d2e04;
  --md-sys-color-tertiary-container-rgb-dark: 85, 69, 25;
  --md-sys-color-tertiary-container-dark: #554519;
  --md-sys-color-on-tertiary-container-rgb-dark: 250, 224, 166;
  --md-sys-color-on-tertiary-container-dark: #fae0a6;
  --md-sys-color-error-rgb-dark: 255, 180, 171;
  --md-sys-color-error-dark: #ffb4ab;
  --md-sys-color-on-error-rgb-dark: 105, 0, 5;
  --md-sys-color-on-error-dark: #690005;
  --md-sys-color-error-container-rgb-dark: 147, 0, 10;
  --md-sys-color-error-container-dark: #93000a;
  --md-sys-color-on-error-container-rgb-dark: 255, 180, 171;
  --md-sys-color-on-error-container-dark: #ffb4ab;
  --md-sys-color-background-rgb-dark: 32, 26, 25;
  --md-sys-color-background-dark: #201a19;
  --md-sys-color-on-background-rgb-dark: 237, 224, 221;
  --md-sys-color-on-background-dark: #ede0dd;
  --md-sys-color-surface-rgb-dark: 32, 26, 25;
  --md-sys-color-surface-dark: #201a19;
  --md-sys-color-on-surface-rgb-dark: 237, 224, 221;
  --md-sys-color-on-surface-dark: #ede0dd;
  --md-sys-color-surface-variant-rgb-dark: 83, 67, 64;
  --md-sys-color-surface-variant-dark: #534340;
  --md-sys-color-on-surface-variant-rgb-dark: 216, 194, 190;
  --md-sys-color-on-surface-variant-dark: #d8c2be;
  --md-sys-color-outline-rgb-dark: 160, 140, 137;
  --md-sys-color-outline-dark: #a08c89;
  --md-sys-color-shadow-rgb-dark: 0, 0, 0;
  --md-sys-color-shadow-dark: #000000;
  --md-sys-color-inverse-surface-rgb-dark: 237, 224, 221;
  --md-sys-color-inverse-surface-dark: #ede0dd;
  --md-sys-color-inverse-on-surface-rgb-dark: 54, 47, 45;
  --md-sys-color-inverse-on-surface-dark: #362f2d;
  --md-sys-color-inverse-primary-rgb-dark: 156, 66, 51;
  --md-sys-color-inverse-primary-dark: #9c4233;
  --md-sys-color-primary-rgb-light: 156, 66, 51;
  --md-sys-color-primary-light: #9c4233;
  --md-sys-color-on-primary-rgb-light: 255, 255, 255;
  --md-sys-color-on-primary-light: #ffffff;
  --md-sys-color-primary-container-rgb-light: 255, 218, 212;
  --md-sys-color-primary-container-light: #ffdad4;
  --md-sys-color-on-primary-container-rgb-light: 63, 3, 0;
  --md-sys-color-on-primary-container-light: #3f0300;
  --md-sys-color-secondary-rgb-light: 119, 86, 80;
  --md-sys-color-secondary-light: #775650;
  --md-sys-color-on-secondary-rgb-light: 255, 255, 255;
  --md-sys-color-on-secondary-light: #ffffff;
  --md-sys-color-secondary-container-rgb-light: 255, 218, 212;
  --md-sys-color-secondary-container-light: #ffdad4;
  --md-sys-color-on-secondary-container-rgb-light: 44, 21, 17;
  --md-sys-color-on-secondary-container-light: #2c1511;
  --md-sys-color-tertiary-rgb-light: 111, 92, 46;
  --md-sys-color-tertiary-light: #6f5c2e;
  --md-sys-color-on-tertiary-rgb-light: 255, 255, 255;
  --md-sys-color-on-tertiary-light: #ffffff;
  --md-sys-color-tertiary-container-rgb-light: 250, 224, 166;
  --md-sys-color-tertiary-container-light: #fae0a6;
  --md-sys-color-on-tertiary-container-rgb-light: 37, 26, 0;
  --md-sys-color-on-tertiary-container-light: #251a00;
  --md-sys-color-error-rgb-light: 186, 26, 26;
  --md-sys-color-error-light: #ba1a1a;
  --md-sys-color-on-error-rgb-light: 255, 255, 255;
  --md-sys-color-on-error-light: #ffffff;
  --md-sys-color-error-container-rgb-light: 255, 218, 214;
  --md-sys-color-error-container-light: #ffdad6;
  --md-sys-color-on-error-container-rgb-light: 65, 0, 2;
  --md-sys-color-on-error-container-light: #410002;
  --md-sys-color-background-rgb-light: 255, 251, 255;
  --md-sys-color-background-light: #fffbff;
  --md-sys-color-on-background-rgb-light: 32, 26, 25;
  --md-sys-color-on-background-light: #201a19;
  --md-sys-color-surface-rgb-light: 255, 251, 255;
  --md-sys-color-surface-light: #fffbff;
  --md-sys-color-on-surface-rgb-light: 32, 26, 25;
  --md-sys-color-on-surface-light: #201a19;
  --md-sys-color-surface-variant-rgb-light: 245, 221, 217;
  --md-sys-color-surface-variant-light: #f5ddd9;
  --md-sys-color-on-surface-variant-rgb-light: 83, 67, 64;
  --md-sys-color-on-surface-variant-light: #534340;
  --md-sys-color-outline-rgb-light: 133, 115, 112;
  --md-sys-color-outline-light: #857370;
  --md-sys-color-shadow-rgb-light: 0, 0, 0;
  --md-sys-color-shadow-light: #000000;
  --md-sys-color-inverse-surface-rgb-light: 54, 47, 45;
  --md-sys-color-inverse-surface-light: #362f2d;
  --md-sys-color-inverse-on-surface-rgb-light: 251, 238, 235;
  --md-sys-color-inverse-on-surface-light: #fbeeeb;
  --md-sys-color-inverse-primary-rgb-light: 255, 180, 166;
  --md-sys-color-inverse-primary-light: #ffb4a6;
}

body {
  display: flex;
}

/* Components */
inv-text {
  color: var(--md-sys-color-on-surface);
  background-color: var(--md-sys-color-on-surface);
  transition: color 180ms cubic-bezier(0.4, 0, 0.2, 1);
}
inv-text:hover {
  color: var(--md-sys-color-surface);
}
.atk-main-editor > .atk-bottom .atk-send-btn::after,
.atk-comment .atk-height-limit-btn::after,
.button::after,
.fab::after,
.icon-button::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 48px;
  width: 100%;
  min-height: 48px;
  height: 100%;
  transform: translate(-50%, -50%);
  pointer-events: auto;
  box-sizing: border-box;
}
con-card {
  padding: 0 16px;
  display: inline-block;
  padding-inline-end: 16px;
  padding-bottom: 16px;
  width: 100%;
  text-overflow: ellipsis;
  color: var(--md-sys-color-on-surface);
  background-color: var(--md-sys-color-surface);
  border: 1px solid var(--md-sys-color-outline);
  border-radius: 12px;
}
con-card .headline {
  display: flex;
  margin-top: 16px;
}
con-card .avatar img {
  width: 36px;
  height: 36px;
  border-radius: 24px;
}
con-card .info {
  margin-inline-start: 16px;
}
con-card .info p {
  margin: 0;
}
con-card .content {
  margin-top: 16px;
}
links-card {
  display: inline-flex;
}
links-card a {
  position: relative;
  display: block;
  padding: 16px;
  width: 100%;
  height: 100%;
  text-decoration: none !important;
  color: var(--md-sys-color-on-surface-variant);
  background-color: var(--md-sys-color-surface-variant);
  border-radius: 12px;
}
links-card a p {
  margin: 0;
}
links-card a p:first-child {
  margin-bottom: 8px;
  color: var(--md-sys-color-on-surface);
}
image-masonry {
  margin-top: 32px;
  width: 100%;
  min-height: 100%;
  /* height: 10000px; */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  counter-reset: cards;
}
image-masonry div {
  display: flex;
  width: calc(
    var(--image-masonry-image-width) - (var(--image-masonry-images-a-col) - 1) * var(--image-masonry-gap) /
      var(--image-masonry-images-a-col)
  );
  padding-bottom: var(--image-masonry-gap);
  position: relative;
}
image-masonry div.show {
  animation-name: slideIn;
  animation-duration: 180ms;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0, 1, 0, 1);
}
image-masonry img {
  width: 100%;
  border-radius: 20px;
}
image-masonry .divider {
  display: block;
  flex-basis: 100%;
  width: var(--image-masonry-gap);
}
image-masonry ._1 {
  order: 1;
}
image-masonry ._2 {
  order: 2;
}
image-masonry div::before {
  counter-increment: cards;
  content: counter(cards);
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  font-size: 0.875rem;
  border-radius: 50%;
  color: var(--md-sys-color-on-primary-container);
  background-color: var(--md-sys-color-primary-container);
}
[col='2'] div:nth-of-type(2n + 1) {
  order: 1;
}
[col='2'] div:nth-of-type(2n + 2) {
  order: 2;
}
[col='3'] div:nth-of-type(3n + 1) {
  order: 1;
}
[col='3'] div:nth-of-type(3n + 2) {
  order: 2;
}
[col='3'] div:nth-of-type(3n + 3) {
  order: 3;
}

@keyframes slideIn {
  from {
    filter: opacity(0);
    transform: translateY(32px);
  }
  to {
    filter: opacity(1);
    transform: translateY(0);
  }
}

.saying {
  direction: ltr;
  display: table;
  border-collapse: collapse;
  margin: 72px auto;
  background-color: transparent;
}
.saying .middle {
  text-align: left;
  padding: 1em;
  vertical-align: middle;
}
.saying .left,
.saying .right {
  color: #b2b7f2;
  font-size: 36px;
  font-family: 'Times New Roman', serif;
  font-weight: bold;
  text-align: left;
  padding: 10px 10px;
  line-height: 100%;
}
.saying .left {
  vertical-align: top;
}
.saying .right {
  vertical-align: bottom;
}
.problems {
  border-top: 1px solid var(--md-sys-color-error);
  border-bottom: 1px solid var(--md-sys-color-error);
}

/* State layer */
.atk-main-editor > .atk-bottom .atk-send-btn::before,
.atk-main-editor > .atk-bottom .atk-plug-btn::before,
.button::before,
.fab::before,
.icon-button::before,
.drawer li a::before,
links-card a::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: currentColor;
  border-radius: inherit;
  opacity: 0;
  pointer-events: none;
  transition: opacity 280ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (hover: hover) {
  .atk-main-editor > .atk-bottom .atk-send-btn:hover::before,
  .atk-main-editor > .atk-bottom .atk-plug-btn:hover::before,
  .button:hover::before,
  .fab:hover::before,
  .icon-button:hover::before,
  .drawer li a:hover::before,
  links-card a:hover::before {
    opacity: 0.08;
  }
}
.atk-main-editor > .atk-bottom .atk-send-btn:active:before,
.atk-main-editor > .atk-bottom .atk-plug-btn:active::before,
.button:active::before,
.fab:active:before,
.icon-button:active:before,
.drawer li a:active::before,
links-card a:active::before {
  opacity: 0.12;
}

/* Special elements */
.jump-to-contents {
  position: fixed;
  top: -48px;
  left: 16px;
  transition: top 90ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 9999;
}
.jump-to-contents:focus {
  top: 16px;
}
.main-progress {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1001;
}

.drawer__opener {
  position: fixed;
  right: 16px;
  bottom: 16px;
  z-index: 998;
  display: none;
}
[dir='rtl'] .drawer__opener {
  left: 16px;
  right: auto;
}
.drawer__closer {
  display: none;
}

.drawer {
  flex-shrink: 0;
  width: 300px;
  height: 100%;
  padding: 16px;
  overflow-y: auto;
  background: var(--md-sys-color-surface);
  border-start-end-radius: 16px;
  border-end-end-radius: 16px;
  transition: transform 240ms cubic-bezier(0.4, 0, 0.2, 1);
  will-change: transform;
  z-index: 1000;
}
.drawer::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: var(--md-sys-color-surface-tint);
  transition: opacity 240ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  border-radius: inherit;
  pointer-events: none;
}
.drawer__overlap {
  position: fixed;
  inset: 0;
  background-color: var(--md-sys-color-on-surface);
  transition: opacity 240ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  pointer-events: none;
  will-change: opacity;
  z-index: 999;
}
@media (max-width: 1200px) {
  .drawer {
    position: fixed;
    display: none;
    background: var(--md-sys-elevation-surface-2);
    transform: translateX(-100%);
  }
  [dir='rtl'] .drawer {
    transform: translateX(100%);
  }
  .drawer::before {
    opacity: 0.08;
  }
  .drawer__opener,
  .drawer__closer {
    display: inline-flex;
  }
  .drawer--opened .drawer {
    display: block;
    transform: translateX(0);
  }
  .open-animating .drawer {
    display: block;
  }
  .drawer--opened .drawer__overlap {
    pointer-events: auto;
    opacity: 0.32;
  }
  .close-animating .drawer {
    transform: translateX(-100%);
  }
  [dir='rtl'] .close-animating .drawer {
    transform: translateX(100%);
  }
  .close-animating .drawer__overlap {
    opacity: 0;
  }
}
.drawer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.drawer ul:not(:last-child) {
  margin-bottom: 16px;
}
.drawer li.label-medium {
  margin-block-start: 8px;
  margin-block-end: 8px;
  margin-inline-start: 20px;
}
.drawer li:not(:last-child) {
  margin-bottom: 4px;
}
.drawer li a {
  position: relative;
  display: flex;
  align-items: center;
  padding-inline-start: 12px;
  padding-inline-end: 12px;
  width: 100%;
  height: 32px;
  color: inherit;
  text-decoration: none;
  border-radius: 16px;
}
.drawer li a[spa-link-active] {
  color: var(--md-sys-color-primary);
}
.drawer li a[spa-link-active]::before {
  opacity: 0.16;
}

.overview {
  position: sticky;
  top: 0;
  width: 300px;
  order: 1;
  flex-shrink: 0;
  padding: 16px;
  overflow-y: auto;
}
@media (max-width: 900px) {
  .overview {
    display: none;
  }
}

.main-and-overview {
  display: flex;
  width: 100%;
  overflow-y: scroll;
}
.main {
  margin: 0 auto;
  padding: 24px;
  width: 100%;
  height: max-content;
  max-width: 105ch;
}
@media (min-width: 1200px) {
  .main {
    padding: 24px 60px;
  }
}

.con-grid,
.links-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 8px;
}

.wiki-name {
  text-align: center;
}
