@import url(./baseline.css);
@import url(./theme.css);
@import url(./material-you.css);
@import url(./artalk-tweaks.css);

:root {
  accent-color: var(--md-sys-color-tertiary);
  --image-masonry-gap: 8px;
  -webkit-tap-highlight-color: transparent;
}
/* box-shadow: 0 0 0 2px var(--md-sys-color-tertiary-container), 0 0 0 4px var(--md-sys-color-tertiary); */

/* Components */
inv-text {
  color: var(--md-sys-color-on-surface);
  background-color: var(--md-sys-color-on-surface);
  transition: color 180ms cubic-bezier(0.4, 0.2, 0, 1);
}
inv-text:hover {
  color: var(--md-sys-color-surface);
}
.atk-main-editor > .atk-bottom .atk-send-btn::after,
.atk-comment .atk-height-limit-btn::after,
.button::after,
.fab::after,
.icon-button::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 48px;
  width: 100%;
  min-height: 48px;
  height: 100%;
  transform: translate(-50%, -50%);
  pointer-events: auto;
  box-sizing: border-box;
}
con-card {
  padding: 0 16px;
  display: inline-block;
  padding-inline-end: 16px;
  padding-bottom: 16px;
  width: 100%;
  text-overflow: ellipsis;
  color: var(--md-sys-color-on-surface);
  background-color: var(--md-sys-color-surface);
  border: 1px solid var(--md-sys-color-outline);
  border-radius: 12px;
}
con-card .headline {
  display: flex;
  margin-top: 16px;
}
con-card .avatar img {
  width: 36px;
  height: 36px;
  border-radius: 24px;
}
con-card .info {
  margin-inline-start: 16px;
}
con-card .info p {
  margin: 0;
}
con-card .content {
  margin-top: 16px;
}
links-card {
  display: inline-flex;
}
links-card a {
  position: relative;
  display: block;
  padding: 16px;
  width: 100%;
  height: 100%;
  text-decoration: none !important;
  color: var(--md-sys-color-on-surface-variant);
  background-color: var(--md-sys-color-surface-variant);
  border-radius: 12px;
}
links-card a p {
  margin: 0;
}
links-card a p:first-child {
  margin-bottom: 8px;
  color: var(--md-sys-color-on-surface);
}
image-masonry {
  margin-top: 32px;
  width: 100%;
  min-height: 100%;
  /* height: 10000px; */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  counter-reset: cards;
}
image-masonry div {
  display: flex;
  width: calc(
    var(--image-masonry-image-width) - (var(--image-masonry-images-a-col) - 1) * var(--image-masonry-gap) /
      var(--image-masonry-images-a-col)
  );
  padding-bottom: var(--image-masonry-gap);
  position: relative;
}
image-masonry div.show {
  animation-name: slideIn;
  animation-duration: 180ms;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0, 1, 0, 1);
}
image-masonry img {
  width: 100%;
  border-radius: 20px;
}
image-masonry .divider {
  display: block;
  flex-basis: 100%;
  width: var(--image-masonry-gap);
}
image-masonry ._1 {
  order: 1;
}
image-masonry ._2 {
  order: 2;
}
image-masonry div::before {
  counter-increment: cards;
  content: counter(cards);
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  font-size: 0.875rem;
  border-radius: 50%;
  color: var(--md-sys-color-on-primary-container);
  background-color: var(--md-sys-color-primary-container);
}
[col='2'] div:nth-of-type(2n + 1) {
  order: 1;
}
[col='2'] div:nth-of-type(2n + 2) {
  order: 2;
}
[col='3'] div:nth-of-type(3n + 1) {
  order: 1;
}
[col='3'] div:nth-of-type(3n + 2) {
  order: 2;
}
[col='3'] div:nth-of-type(3n + 3) {
  order: 3;
}

@keyframes slideIn {
  from {
    filter: opacity(0);
    transform: translateY(32px);
  }
  to {
    filter: opacity(1);
    transform: translateY(0);
  }
}

.saying {
  direction: ltr;
  display: table;
  border-collapse: collapse;
  margin: 72px auto;
  background-color: transparent;
}
.saying .middle {
  text-align: left;
  padding: 1em;
  vertical-align: middle;
}
.saying .left,
.saying .right {
  color: #b2b7f2;
  font-size: 36px;
  font-family: 'Times New Roman', serif;
  font-weight: bold;
  text-align: left;
  padding: 10px 10px;
  line-height: 100%;
}
.saying .left {
  vertical-align: top;
}
.saying .right {
  vertical-align: bottom;
}
.problems {
  border-top: 1px solid var(--md-sys-color-error);
  border-bottom: 1px solid var(--md-sys-color-error);
}

/* State layer */
.atk-main-editor > .atk-bottom .atk-send-btn::before,
.atk-main-editor > .atk-bottom .atk-plug-btn::before,
.button::before,
.fab::before,
.icon-button::before,
.drawer li a::before,
links-card a::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: currentColor;
  border-radius: inherit;
  opacity: 0;
  pointer-events: none;
}
.atk-main-editor > .atk-bottom .atk-send-btn:hover::before,
.atk-main-editor > .atk-bottom .atk-plug-btn:hover::before,
.button:hover::before,
.fab:hover::before,
.icon-button:hover::before,
.drawer li a:hover::before,
links-card a:hover::before {
  opacity: 0.08;
}
.atk-main-editor > .atk-bottom .atk-send-btn:active:before,
.atk-main-editor > .atk-bottom .atk-plug-btn:active::before,
.button:active::before,
.fab:active:before,
.icon-button:active:before,
.drawer li a:active::before,
links-card a:active::before {
  opacity: 0.12;
}

/* Special elements */
.jump-to-contents {
  position: fixed;
  top: -48px;
  left: 16px;
  transition: top 90ms cubic-bezier(0.4, 0.2, 0, 1);
  z-index: 9999;
}
.jump-to-contents:focus {
  top: 16px;
}

.drawer__opener {
  position: fixed;
  right: 16px;
  bottom: 16px;
  z-index: 998;
  display: none;
}
[dir='rtl'] .drawer__opener {
  left: 16px;
  right: auto;
}
.drawer__closer {
  display: none;
}

.drawer {
  flex-shrink: 0;
  width: 300px;
  height: 100%;
  padding: 16px;
  background-color: var(--md-sys-color-surface);
  border-start-end-radius: 16px;
  border-end-end-radius: 16px;
  transition: transform 240ms cubic-bezier(0.4, 0.2, 0, 1);
  will-change: transform;
  z-index: 1000;
}
.drawer::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: var(--md-sys-color-surface-tint);
  transition: opacity 240ms cubic-bezier(0.4, 0.2, 0, 1);
  opacity: 0;
  border-radius: inherit;
  pointer-events: none;
}
.drawer__overlap {
  position: fixed;
  inset: 0;
  background-color: var(--md-sys-color-on-surface);
  transition: opacity 240ms cubic-bezier(0.4, 0.2, 0, 1);
  opacity: 0;
  pointer-events: none;
  will-change: opacity;
  z-index: 999;
}
@media (max-width: 1200px) {
  .drawer {
    position: fixed;
    display: none;
    transform: translateX(-100%);
  }
  [dir='rtl'] .drawer {
    transform: translateX(100%);
  }
  .drawer::before {
    opacity: 0.08;
  }
  .drawer__opener,
  .drawer__closer {
    display: inline-flex;
  }
  .drawer--opened .drawer {
    display: block;
    transform: translateX(0);
  }
  .open-animating .drawer {
    display: block;
  }
  .drawer--opened .drawer__overlap {
    pointer-events: auto;
    opacity: 0.32;
  }
  .close-animating .drawer {
    transform: translateX(-100%);
  }
  [dir='rtl'] .close-animating .drawer {
    transform: translateX(100%);
  }
  .close-animating .drawer__overlap {
    opacity: 0;
  }
}
.drawer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.drawer ul:not(:last-child) {
  margin-bottom: 16px;
}
.drawer li.label-medium {
  margin-block-start: 8px;
  margin-block-end: 8px;
  margin-inline-start: 20px;
}
.drawer li:not(:last-child) {
  margin-bottom: 4px;
}
.drawer li a {
  position: relative;
  display: flex;
  align-items: center;
  padding-inline-start: 12px;
  padding-inline-end: 12px;
  width: 100%;
  height: 32px;
  color: inherit;
  text-decoration: none;
  border-radius: 16px;
}
.drawer li a[spa-link-active] {
  color: var(--md-sys-color-primary);
}
.drawer li a[spa-link-active]::before {
  opacity: 0.16;
}

.overview {
  position: sticky;
  top: 0;
  width: 300px;
  order: 1;
  flex-shrink: 0;
  padding: 16px;
  overflow-y: auto;
}
@media (max-width: 900px) {
  .overview {
    display: none;
  }
}

.main-and-overview {
  display: flex;
  width: 100%;
  overflow-y: scroll;
}
.main {
  margin: 0 auto;
  padding: 24px;
  width: 100%;
  height: max-content;
  max-width: 105ch;
}
@media (min-width: 1200px) {
  .main {
    padding: 24px 60px;
  }
}

.con-grid,
.links-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 8px;
}

.wiki-name {
  text-align: center;
}
