@import url(./color-system.css);
@import url(./elevation-system.css);
@import url(./typography-system.css);

h2,
h4,
h5,
h6 {
  margin: 32px 0;
}
p {
  -webkit-margin-before: 1em;
  margin-block-start: 1em;
  -webkit-margin-after: 1em;
  margin-block-end: 1em;
}

.table-wrapper {
  border: 1px solid var(--md-sys-color-surface-variant);
  border-radius: 24px;
  overflow-x: auto;
}
.table-wrapper table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
.table-wrapper td,
.table-wrapper th {
  padding: 16px 24px;
  border-top: 1px solid var(--md-sys-color-surface-variant);
  border-left: 1px solid var(--md-sys-color-surface-variant);
  vertical-align: middle;
}
.table-wrapper th {
  position: relative;
  color: var(--md-sys-color-on-surface-variant);
  font-weight: 500;
}
.table-wrapper th::after {
  content: '';
  position: absolute;
  inset: 0;
  background-color: var(--md-sys-color-surface-tint);
  opacity: 0.08;
  border-radius: inherit;
}
.table-wrapper td:first-child,
.table-wrapper th:first-child {
  border-left: 0;
}
.table-wrapper thead:first-child tr:first-child th,
.table-wrapper tbody:first-child tr:first-child td {
  border-top: 0;
}

.main h1 {
  margin-top: 32px;
}
.main h1 + p {
  margin-bottom: 72px;
}
.main ul {
  margin-inline-start: 22px;
  list-style: none;
}
.main ul li {
  position: relative;
  margin-bottom: 16px;
}
.main ul li:nth-child(2) {
  --rotation: 2;
}
.main ul li:nth-child(3n) {
  --rotation: 5;
}
.main ul li:nth-child(3n + 1) {
  --rotation: 7;
}
.main ul li:nth-child(3n + 2) {
  --rotation: 4;
}
.main ul li:nth-child(4n) {
  --rotation: 9;
}
.main ul li:nth-child(4n + 1) {
  --rotation: 6;
}
.main ul li:nth-child(4n + 3) {
  --rotation: 3;
}
.main ul li svg {
  display: inline-block;
  position: absolute;
  margin-block-start: 6px;
  margin-inline-start: -16px;
  transform: rotate(calc(var(--rotation) * 36deg));
  fill: currentColor;
}

.block {
  display: grid;
  position: relative;
  max-width: min(1024px, calc(100vw - 2 * 40px));
  margin: 0 auto 72px;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(calc(25% - 20px), 1fr));
  overflow-x: auto;
}
.block:last-child {
  margin-bottom: 0;
}
.block.snug {
  margin-bottom: 56px;
}

a {
  color: var(--md-sys-color-primary);
  text-decoration: none;
  border-radius: 4px;
}
a:hover {
  text-decoration: underline;
}
.button {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 4px 0;
  padding: 0 24px;
  height: 40px;
  text-decoration: none;
  border: none;
  border-radius: 9999px;
  cursor: pointer;
  vertical-align: middle;
  user-select: none;
  z-index: 0;
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:not(.tonal):not(.elevated):not(.outlined):not(.text) {
  color: var(--md-sys-color-on-primary);
  background-color: var(--md-sys-color-primary);
}
.button.tonal {
  color: var(--md-sys-color-on-secondary);
  background-color: var(--md-sys-color-secondary);
}
.button.elevated {
  color: var(--md-sys-color-primary);
  background-color: var(--md-sys-elevation-surface-1);
  box-shadow: var(--md-sys-elevation-shadow-1);
}
.button.outlined,
.button.text {
  color: var(--md-sys-color-primary);
  background-color: transparent;
}
.button.outlined {
  padding: 0 23px;
  border: 1px solid var(--md-sys-color-outline);
}
.button.text {
  padding: 0 12px;
}
@media screen and (hover: hover) {
  .button:not(.elevated):not(.tonal):not(.outlined):not(.text):hover:not(:active),
  .button.tonal:hover:not(:active) {
    box-shadow: var(--md-sys-elevation-shadow-1);
  }
  .button.elevated:hover:not(:active) {
    box-shadow: var(--md-sys-elevation-shadow-2);
  }
}
.fab {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border: none;
  cursor: pointer;
  vertical-align: middle;
  user-select: none;
  z-index: 0;
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
}
.fab svg {
  width: var(--md-fab-icon-size);
  height: var(--md-fab-icon-size);
  fill: currentColor;
}
.fab:not(.small):not(.large) {
  min-width: 56px;
  height: 56px;
  padding: 0 16px;
  border-radius: 16px;
  --md-fab-icon-size: 1.5rem;
}
.fab.small {
  min-width: 40px;
  height: 40px;
  padding: 0 8px;
  border-radius: 12px;
  --md-fab-icon-size: 1.5rem;
}
.fab.large {
  min-width: 96px;
  height: 96px;
  padding: 0 30px;
  border-radius: 28px;
  --md-fab-icon-size: 2.25rem;
}
.fab:not(.surface):not(.secondary):not(.tertiary) {
  color: var(--md-sys-color-on-primary-container);
  background-color: var(--md-sys-color-primary-container);
}
.fab.surface {
  color: var(--md-sys-color-on-surface);
  background-color: var(--md-sys-color-surface);
}
.fab.secondary {
  color: var(--md-sys-color-on-secondary-container);
  background-color: var(--md-sys-color-secondary-container);
}
.fab.tertiary {
  color: var(--md-sys-color-on-tertiary-container);
  background-color: var(--md-sys-color-tertiary-container);
}
.fab:not(.lower) {
  box-shadow: var(--md-sys-elevation-shadow-3);
}
.fab.lower {
  box-shadow: var(--md-sys-elevation-shadow-1);
}
@media screen and (hover: hover) {
  .fab:not(.lower):hover:not(:active) {
    box-shadow: var(--md-sys-elevation-shadow-4);
  }
  .fab.lower:hover:not(:active) {
    box-shadow: var(--md-sys-elevation-shadow-2);
  }
}
.icon-button {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 4px;
  width: 40px;
  height: 40px;
  font-size: 1.25rem;
  text-decoration: none;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  vertical-align: middle;
  user-select: none;
  z-index: 0;
}
.icon-button:not(.tonal):not(.outlined):not(.standard) {
  color: var(--md-sys-color-on-primary);
  background-color: var(--md-sys-color-primary);
}
.icon-button.tonal {
  color: var(--md-sys-color-on-secondary);
  background-color: var(--md-sys-color-secondary);
}
.icon-button.outlined {
  color: var(--md-sys-color-on-surface);
  background-color: transparent;
  outline: 1px solid var(--md-sys-color-outline);
}
.icon-button.standard {
  color: var(--md-sys-color-primary);
  background-color: transparent;
}
.icon-button svg {
  width: 1em;
  height: 1em;
  fill: currentColor;
}

linear-progress {
  display: block;
  position: relative;
  width: 100%;
  height: 4px;
  transform: translateZ(0px);
  outline: transparent solid 1px;
  overflow: hidden;
  transition: opacity 240ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
}
linear-progress[hidden] {
  opacity: 0;
}
[dir='rtl'] linear-progress,
linear-progress[dir='rtl'] {
  transform: rotateY(180deg);
}
.linear-progress__bar {
  position: absolute;
  width: 100%;
  height: 100%;
  animation: 0s ease 0s 1 normal none running none;
  transform-origin: left top;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
}
.linear-progress__primary-bar {
  transform: scaleX(1);
  left: -145.167%;
  transition: none 0s ease 0s;
  animation: 2s linear 0s infinite normal none running linear-progress-primary-indeterminate-translate;
}
.linear-progress__secondary-bar {
  display: block;
  left: -54.8889%;
  transition: none 0s ease 0s;
  animation: 2s linear 0s infinite normal none running linear-progress-secondary-indeterminate-translate;
}
.linear-progress__bar-inner {
  display: inline-block;
  position: absolute;
  width: 100%;
  animation: 0s ease 0s 1 normal none running none;
  border-top-style: solid;
  border-color: var(--md-sys-color-primary);
  border-width: 4px;
}
.linear-progress__primary-bar > .linear-progress__bar-inner {
  animation: 2s linear 0s infinite normal none running linear-progress-primary-indeterminate-scale;
}
.linear-progress__secondary-bar > .linear-progress__bar-inner {
  animation: 2s linear 0s infinite normal none running linear-progress-secondary-indeterminate-scale;
}
@keyframes linear-progress-primary-indeterminate-translate {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  20% {
    -webkit-animation-timing-function: cubic-bezier(0.5, 0, 0.701732, 0.495819);
    animation-timing-function: cubic-bezier(0.5, 0, 0.701732, 0.495819);
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  59.15% {
    -webkit-animation-timing-function: cubic-bezier(0.302435, 0.381352, 0.55, 0.956352);
    animation-timing-function: cubic-bezier(0.302435, 0.381352, 0.55, 0.956352);
    -webkit-transform: translateX(83.67142%);
    transform: translateX(83.67142%);
  }
  100% {
    -webkit-transform: translateX(200.611057%);
    transform: translateX(200.611057%);
  }
}
@keyframes linear-progress-primary-indeterminate-scale {
  0% {
    -webkit-transform: scaleX(0.08);
    transform: scaleX(0.08);
  }
  36.65% {
    -webkit-animation-timing-function: cubic-bezier(0.334731, 0.12482, 0.785844, 1);
    animation-timing-function: cubic-bezier(0.334731, 0.12482, 0.785844, 1);
    -webkit-transform: scaleX(0.08);
    transform: scaleX(0.08);
  }
  69.15% {
    -webkit-animation-timing-function: cubic-bezier(0.06, 0.11, 0.6, 1);
    animation-timing-function: cubic-bezier(0.06, 0.11, 0.6, 1);
    -webkit-transform: scaleX(0.661479);
    transform: scaleX(0.661479);
  }
  100% {
    -webkit-transform: scaleX(0.08);
    transform: scaleX(0.08);
  }
}
@keyframes linear-progress-secondary-indeterminate-translate {
  0% {
    -webkit-animation-timing-function: cubic-bezier(0.15, 0, 0.515058, 0.409685);
    animation-timing-function: cubic-bezier(0.15, 0, 0.515058, 0.409685);
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  25% {
    -webkit-animation-timing-function: cubic-bezier(0.31033, 0.284058, 0.8, 0.733712);
    animation-timing-function: cubic-bezier(0.31033, 0.284058, 0.8, 0.733712);
    -webkit-transform: translateX(37.651913%);
    transform: translateX(37.651913%);
  }
  48.35% {
    -webkit-animation-timing-function: cubic-bezier(0.4, 0.627035, 0.6, 0.902026);
    animation-timing-function: cubic-bezier(0.4, 0.627035, 0.6, 0.902026);
    -webkit-transform: translateX(84.386165%);
    transform: translateX(84.386165%);
  }
  100% {
    -webkit-transform: translateX(160.277782%);
    transform: translateX(160.277782%);
  }
}
@keyframes linear-progress-secondary-indeterminate-scale {
  0% {
    -webkit-animation-timing-function: cubic-bezier(0.205028, 0.057051, 0.57661, 0.453971);
    animation-timing-function: cubic-bezier(0.205028, 0.057051, 0.57661, 0.453971);
    -webkit-transform: scaleX(0.08);
    transform: scaleX(0.08);
  }
  19.15% {
    -webkit-animation-timing-function: cubic-bezier(0.152313, 0.196432, 0.648374, 1.004315);
    animation-timing-function: cubic-bezier(0.152313, 0.196432, 0.648374, 1.004315);
    -webkit-transform: scaleX(0.457104);
    transform: scaleX(0.457104);
  }
  44.15% {
    -webkit-animation-timing-function: cubic-bezier(0.257759, -0.003163, 0.211762, 1.38179);
    animation-timing-function: cubic-bezier(0.257759, -0.003163, 0.211762, 1.38179);
    -webkit-transform: scaleX(0.72796);
    transform: scaleX(0.72796);
  }
  100% {
    -webkit-transform: scaleX(0.08);
    transform: scaleX(0.08);
  }
}
