<h1>Common button</h1>

<div id="anchor1">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sagittis dictum tortor, vitae eleifend ante fermentum
    non. Praesent efficitur consectetur cursus. Curabitur sed posuere dolor, quis sollicitudin nunc. Vivamus gravida
    sapien eget gravida posuere. Etiam nec molestie felis. Praesent nisi felis, ullamcorper vitae posuere scelerisque,
    aliquet eget nulla. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
    Proin accumsan malesuada nisi, non egestas justo dapibus a. Morbi vitae lorem diam.
  </p>
  <p>
    Ut ultrices suscipit quam et consectetur. Aliquam sit amet imperdiet nunc. Curabitur gravida sagittis lectus, non
    lobortis nisl maximus quis. Pellentesque turpis elit, vehicula eu faucibus in, blandit in magna. In tincidunt
    malesuada ligula, eget consectetur nunc consectetur in. Mauris sodales faucibus condimentum. Aenean tincidunt
    vulputate iaculis.
  </p>
  <p>
    Cras tellus neque, efficitur vitae dapibus non, venenatis luctus risus. Integer et quam mollis, blandit arcu sit
    amet, feugiat est. Integer rutrum sagittis odio, consequat volutpat ipsum aliquet sed. Nam quis eros ac ex porta
    tincidunt. Nullam quis diam nec felis sagittis fringilla ut vel magna. Donec ante sem, consequat maximus vulputate
    ac, vestibulum eu lorem. Phasellus vel consequat sapien, ac pulvinar leo. Fusce vel mattis augue. Nam erat diam,
    accumsan nec lectus nec, porta ultrices ligula. Duis dictum enim turpis, vitae lobortis felis accumsan eu. Sed
    mattis a ipsum non auctor. Nunc sit amet facilisis neque. Phasellus fringilla finibus sapien, a sollicitudin nulla
    rhoncus a. Ut bibendum lacus eget lorem blandit ultrices. Suspendisse rutrum vehicula scelerisque. Sed luctus diam
    orci, sagittis gravida felis elementum eget.
  </p>
  <p>
    Cras justo erat, sodales ut tortor non, lobortis vulputate enim. Cras posuere porttitor tempor. Ut dignissim posuere
    tellus quis eleifend. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
    Phasellus euismod mattis nulla, non cursus metus aliquet eget. Praesent rutrum, purus in facilisis vehicula, dolor
    ipsum efficitur urna, ut imperdiet enim enim tincidunt enim. Fusce consectetur et enim vitae accumsan. Donec at ex
    vitae ligula rutrum suscipit quis non libero. Nulla suscipit ante ac est tristique, non facilisis ex placerat. Cras
    vulputate nunc non posuere ultrices. Sed vestibulum tempor lacus vel vehicula.
  </p>
  <p>
    Nunc sed quam ipsum. Nam fringilla ipsum in risus sollicitudin ullamcorper. Sed fermentum elit non pharetra lacinia.
    Nullam rhoncus lorem sit amet mollis tincidunt. Vivamus dapibus eros nec enim tincidunt, non egestas ipsum aliquet.
    Nam pulvinar eu purus a malesuada. Phasellus ultricies leo ac lorem lacinia, sit amet finibus ex iaculis. In diam
    ipsum, placerat at lacus sed, lobortis cursus quam. Fusce ex turpis, efficitur ut nisl id, posuere aliquet turpis.
    Vestibulum orci lacus, pharetra in nunc sit amet, tincidunt aliquet enim. Donec ornare libero diam, eu accumsan est
    euismod vestibulum. Pellentesque nunc urna, dictum ut nunc eu, facilisis sollicitudin erat. Praesent ultricies
    aliquet hendrerit.
  </p>
  <p>
    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis malesuada a ipsum
    in convallis. Nulla tellus augue, faucibus ut maximus et, molestie at eros. Proin placerat cursus enim. Aliquam erat
    volutpat. Quisque ipsum nisl, semper congue purus sit amet, molestie maximus justo. Ut molestie molestie eleifend.
    Sed ut metus eget odio blandit rutrum.
  </p>
  <p>
    Vivamus suscipit tellus nec purus vulputate aliquet. Pellentesque habitant morbi tristique senectus et netus et
    malesuada fames ac turpis egestas. Donec vehicula lorem vel tellus tincidunt tincidunt. In faucibus purus ultricies,
    accumsan justo vitae, congue urna. Morbi tincidunt nibh vitae pellentesque volutpat. Aliquam sed aliquet quam.
    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Orci varius natoque
    penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec vulputate odio ut pretium pharetra.
  </p>
  <p>
    Sed at pharetra sem, in suscipit orci. Donec venenatis est sagittis nibh cursus laoreet. Nunc aliquet consequat
    rutrum. Nam quis ligula lorem. Vivamus non lectus neque. Etiam eu arcu mauris. Integer elementum ultrices est a
    congue. Nulla tristique nisl nulla, eget iaculis mauris fringilla eget. Nulla condimentum leo ac blandit hendrerit.
    Donec tempus neque id nunc aliquam, vitae rutrum neque accumsan. Cras aliquet viverra ligula, id finibus lacus
    pellentesque ac. Suspendisse accumsan mauris dui, vitae dictum est tristique id. Aliquam scelerisque elit id magna
    porttitor, eu sodales eros dictum. Nulla rhoncus orci ac massa ullamcorper feugiat.
  </p>
  <p>
    Aliquam placerat mi vel massa pretium, id sodales massa facilisis. Nunc lacinia mattis erat, a consequat velit
    pharetra quis. Aliquam erat volutpat. Curabitur nec hendrerit nunc, id sodales tellus. Donec facilisis fermentum
    justo eu accumsan. Nam ut lectus vehicula, sodales enim ut, bibendum dolor. Aliquam et nulla ac arcu convallis
    pharetra. Aenean varius risus quis eleifend placerat.
  </p>
  <p>
    Quisque interdum ante eu vehicula ornare. Praesent et vehicula neque. Vivamus non arcu non quam mollis pretium nec
    quis sapien. Suspendisse nec mi sagittis, rhoncus felis vel, fringilla tortor. Nunc ac mauris mollis, condimentum
    massa quis, vulputate nisl. Pellentesque cursus consectetur dictum. Fusce eget mauris elit. Aliquam aliquam et nisl
    vitae varius.
  </p>
</div>

<a href="#anchor1">Anchor1</a>

<div id="anchor2">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sagittis dictum tortor, vitae eleifend ante fermentum
    non. Praesent efficitur consectetur cursus. Curabitur sed posuere dolor, quis sollicitudin nunc. Vivamus gravida
    sapien eget gravida posuere. Etiam nec molestie felis. Praesent nisi felis, ullamcorper vitae posuere scelerisque,
    aliquet eget nulla. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
    Proin accumsan malesuada nisi, non egestas justo dapibus a. Morbi vitae lorem diam.
  </p>
  <p>
    Ut ultrices suscipit quam et consectetur. Aliquam sit amet imperdiet nunc. Curabitur gravida sagittis lectus, non
    lobortis nisl maximus quis. Pellentesque turpis elit, vehicula eu faucibus in, blandit in magna. In tincidunt
    malesuada ligula, eget consectetur nunc consectetur in. Mauris sodales faucibus condimentum. Aenean tincidunt
    vulputate iaculis.
  </p>
  <p>
    Cras tellus neque, efficitur vitae dapibus non, venenatis luctus risus. Integer et quam mollis, blandit arcu sit
    amet, feugiat est. Integer rutrum sagittis odio, consequat volutpat ipsum aliquet sed. Nam quis eros ac ex porta
    tincidunt. Nullam quis diam nec felis sagittis fringilla ut vel magna. Donec ante sem, consequat maximus vulputate
    ac, vestibulum eu lorem. Phasellus vel consequat sapien, ac pulvinar leo. Fusce vel mattis augue. Nam erat diam,
    accumsan nec lectus nec, porta ultrices ligula. Duis dictum enim turpis, vitae lobortis felis accumsan eu. Sed
    mattis a ipsum non auctor. Nunc sit amet facilisis neque. Phasellus fringilla finibus sapien, a sollicitudin nulla
    rhoncus a. Ut bibendum lacus eget lorem blandit ultrices. Suspendisse rutrum vehicula scelerisque. Sed luctus diam
    orci, sagittis gravida felis elementum eget.
  </p>
  <p>
    Cras justo erat, sodales ut tortor non, lobortis vulputate enim. Cras posuere porttitor tempor. Ut dignissim posuere
    tellus quis eleifend. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
    Phasellus euismod mattis nulla, non cursus metus aliquet eget. Praesent rutrum, purus in facilisis vehicula, dolor
    ipsum efficitur urna, ut imperdiet enim enim tincidunt enim. Fusce consectetur et enim vitae accumsan. Donec at ex
    vitae ligula rutrum suscipit quis non libero. Nulla suscipit ante ac est tristique, non facilisis ex placerat. Cras
    vulputate nunc non posuere ultrices. Sed vestibulum tempor lacus vel vehicula.
  </p>
  <p>
    Nunc sed quam ipsum. Nam fringilla ipsum in risus sollicitudin ullamcorper. Sed fermentum elit non pharetra lacinia.
    Nullam rhoncus lorem sit amet mollis tincidunt. Vivamus dapibus eros nec enim tincidunt, non egestas ipsum aliquet.
    Nam pulvinar eu purus a malesuada. Phasellus ultricies leo ac lorem lacinia, sit amet finibus ex iaculis. In diam
    ipsum, placerat at lacus sed, lobortis cursus quam. Fusce ex turpis, efficitur ut nisl id, posuere aliquet turpis.
    Vestibulum orci lacus, pharetra in nunc sit amet, tincidunt aliquet enim. Donec ornare libero diam, eu accumsan est
    euismod vestibulum. Pellentesque nunc urna, dictum ut nunc eu, facilisis sollicitudin erat. Praesent ultricies
    aliquet hendrerit.
  </p>
  <p>
    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis malesuada a ipsum
    in convallis. Nulla tellus augue, faucibus ut maximus et, molestie at eros. Proin placerat cursus enim. Aliquam erat
    volutpat. Quisque ipsum nisl, semper congue purus sit amet, molestie maximus justo. Ut molestie molestie eleifend.
    Sed ut metus eget odio blandit rutrum.
  </p>
  <p>
    Vivamus suscipit tellus nec purus vulputate aliquet. Pellentesque habitant morbi tristique senectus et netus et
    malesuada fames ac turpis egestas. Donec vehicula lorem vel tellus tincidunt tincidunt. In faucibus purus ultricies,
    accumsan justo vitae, congue urna. Morbi tincidunt nibh vitae pellentesque volutpat. Aliquam sed aliquet quam.
    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Orci varius natoque
    penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec vulputate odio ut pretium pharetra.
  </p>
  <p>
    Sed at pharetra sem, in suscipit orci. Donec venenatis est sagittis nibh cursus laoreet. Nunc aliquet consequat
    rutrum. Nam quis ligula lorem. Vivamus non lectus neque. Etiam eu arcu mauris. Integer elementum ultrices est a
    congue. Nulla tristique nisl nulla, eget iaculis mauris fringilla eget. Nulla condimentum leo ac blandit hendrerit.
    Donec tempus neque id nunc aliquam, vitae rutrum neque accumsan. Cras aliquet viverra ligula, id finibus lacus
    pellentesque ac. Suspendisse accumsan mauris dui, vitae dictum est tristique id. Aliquam scelerisque elit id magna
    porttitor, eu sodales eros dictum. Nulla rhoncus orci ac massa ullamcorper feugiat.
  </p>
  <p>
    Aliquam placerat mi vel massa pretium, id sodales massa facilisis. Nunc lacinia mattis erat, a consequat velit
    pharetra quis. Aliquam erat volutpat. Curabitur nec hendrerit nunc, id sodales tellus. Donec facilisis fermentum
    justo eu accumsan. Nam ut lectus vehicula, sodales enim ut, bibendum dolor. Aliquam et nulla ac arcu convallis
    pharetra. Aenean varius risus quis eleifend placerat.
  </p>
  <p>
    Quisque interdum ante eu vehicula ornare. Praesent et vehicula neque. Vivamus non arcu non quam mollis pretium nec
    quis sapien. Suspendisse nec mi sagittis, rhoncus felis vel, fringilla tortor. Nunc ac mauris mollis, condimentum
    massa quis, vulputate nisl. Pellentesque cursus consectetur dictum. Fusce eget mauris elit. Aliquam aliquam et nisl
    vitae varius.
  </p>
</div>

<a href="#anchor2">Anchor2</a>
